* {
  margin: 0;
  padding: 0
  
}

body {
  background: url(https://wallpapertag.com/wallpaper/full/2/8/4/348927-jungle-background-3022x2149-download-free.jpg) fixed center no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding-left: 30%;
  padding-right: 30%;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 5em;
 }
 
 h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
 }
 h3 {
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 20px;
 }
 h4 {
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 13px;
 }

.App {
  background: black;
  width: 400px;
  height: 100vh;
  opacity: 0.8;
  border-right:  2px dashed #fff;
  border-left:  2px dashed #fff;
}

